<!DOCTYPE html>
<html>
<head>
    <title>Anime Schedule</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <section class="main">
        <div class="login">
            <!--<a class="loginButton" href ="https://anilist.co/api/v2/oauth/authorize?client_id=2450&redirect_uri=https://localhost:8848/&response_type=code">Login with AniList</a>!-->
        </div> 
        <div class="showInfo">
            <h1 id ="showName">Show Name</h1>
            <h2 id="time"><span id="hours">00</span>:<span id="minutes">00</span> <span id="half">PM</span>
            <h2 id="episode">Season X Episode Y</h2>
            <h3 id = "platforms"><img src="static/icons/Funimation.png"/>Site</h3>
        </div>
        <!--<div class="showSection">
            <div class="date">
                <h2>Jun<br/><span class="dateNum">12</span></h2>
            </div>
            <div class="shows">
                <div class="dayOfWeek">
                    <h3>Saturday</h3>
                </div>
                <div class="showImages">

                </div>
            </div>
        </div> !-->
    </section>
    <script src = "static/js/displayCalendar.js"></script>
</body>
</html>