<!DOCTYPE html>
<html>
<head>
    <title>Anime Schedule</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <section class="main">
        <div class="showSection">
            <!--
            <div class="date">
                <h2>Jun<br/><span class="dateNum">12</span></h2>
            </div>
            <div class="shows">
                <div class="dayOfWeek">
                    <h3>Saturday</h3>
                </div>
                <div class="showImages">
                    <div class="show" data-row="1" data-num="4" tabindex="8">
                        <div class="showArt">
                            <img src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx108987-rdPglVthrZP2.jpg">
                            <div class = "platforms">
                                <a href="https://funimation.com" class = "platform"><img src="static/icons/Funimation.png"/></a>
                                <a class = "platform"><img src="static/icons/Crunchyroll.png"/></a>
                                <a class = "platform"><img src="static/icons/Hidive.png"/></a>
                                <a class = "platform"><img src="static/icons/Netflix.png"/></a>
                            </div>
                        </div>
                        <div class="showHover">
                            <div class="showName">Show Name</div>
                            <div class="time"><span class="hours">00</span>:<span class="minutes">00</span> <span class="half">PM</span></div>
                            <div class="episode">Episode Y</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </section>
    <script src = "static/js/displayCalendar.js"></script>
</body>
</html>